<h1>How Would You Do This?</h1>

<p id="notice"><%= notice %></p>

<p>
  Take a look at the scenario below. Describe one procedure that will complete
  the given objective.
</p>

<h3>Environment: <%= @map.try(:objective).try(:environment).try(:name) %></h3>

<div id="image_box">
  <%= image_tag @map.try(:scenario).try(:image).try(:url) %>
</div>

<h3>Objective: <%= @map.try(:objective).try(:name) %></h3>

<%= form_for(@input, url: create_input_path) do |f| %>
  <% if @input.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@input.errors.count, "error") %> prohibited this scenario from being saved:</h2>

      <ul>
      <% @input.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field(:objectives_scenarios_map_id, :value => @map.try(:id)) %>
  
  <div class="field">
    <%= f.label :Give_Procedure_Here %><br />
    <%= f.text_area :text %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Try Another Scenario', index_path %>

<br/>
<br/>
<br/>
<br/>
<br/>

<%= link_to 'Admin Login', admin_index_path %>