<h1>Admin Page</h1>

<%= link_to 'Edit Environments', environments_path %><br/>
<%= link_to 'Edit Objectives', objectives_path %><br/>
<%= link_to 'Edit Scenarios', scenarios_path %><br/>

<br/>

<table>
  <tr>
    <th>Environment</th>
    <th>Objective</th>
    <th>Scenario</th>
    <th>Human Instructions</th>
    <th>Date Posted</th>
  </tr>

<% @inputs.each do |input| %>
  <tr>
    <td><%= input.objectives_scenarios_map.scenario.environment.name %></td>
    <td><%= input.objectives_scenarios_map.objective.name %></td>
    <td><%= input.objectives_scenarios_map.scenario.name %></td>
    <td><%= input.text %></td>
    <td><%= input.created_at %></td>
  </tr>
<% end %>
</table>

<br/>
<%= paginate @inputs %>
<br/>
<%= link_to 'View Homepage', index_path %>
<br/>
<%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>  